/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Custom Styling*/

*::before, *::after {
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    margin: 50px auto;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
}

h1 {
    text-align: center;
    color: #EAD7D7;
    font-size: 100px;
    font-weight: 400;
    padding: 20px 0;
}

input[type = 'text'] {
    width: 100%;
    padding: 14px 20px;
    font-size: 18px;
    margin: 15px 0;
    border: none;
    box-shadow: 1px 1px 30px 10px rgb(0 0 0 / 10%);
    background-color: white;
    outline: none;
}

::placeholder {
    color: #c5c5c5;
    font-weight: 500;
}

li {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    padding: 12px 20px;
    box-shadow: 1px 1px 30px 10px rgb(0 0 0 / 10%);;
}

p {
    color: #4D4D5D;
    font-size: 20px;
    padding: 0 15px;
}

input[type = 'checkbox'] {
    width: 15px;
    height: 15px;
}

span {
    font-size: 20px;
    font-weight: 600;
}

button {
    border: 1px solid #e6e6e6;
    background-color: white;
    margin: 12px 0;
    padding: 7px 12px;
    color: #777777;
}

button:hover, span:hover {
    cursor: pointer;
}